<%- layout("./layouts/boilerplate") %>
<h1>Card Name: <%= card.name %></h1>
<h4>Card Number: <%= card.number %></h4>
<h4> Times Played: <%= card.timesPlayed %></h4>

<form action="/cards/<%= card.id %>/edit">
    <button>Edit Card</button>
</form>

<form action="/cards/<%= card.id %>?_method=DELETE" method="POST">
    <button>Delete card</button>
</form>


