<%- layout("./layouts/boilerplate") %>

<h1>All Combos</h1>
<ul>
    <% for (combo of someCombos) { %>
        <li><a href="combos/<%= combo.id %>/games/new"><%= combo.cards[0].name %> | <%= combo.cards[1].name %> | <%= combo.cards[2].name %></a></li>
    <% } %>
</ul>