<%- layout("./layouts/boilerplate") %>

<h1>New Game</h1>
<h2>
<% for (const card of combo.cards) { %>
    <%= card.name %> |
<% } %>
</h2>

<h3>Combo Target <%= combo.targetScore %></h3>

<h3> <%= currentUser.username %>'s Game Results</h3>

<% if (comboRecord) { %>
    <ul>
        <li>Wins: <%= comboRecord.wins %></li>
        <li>Losses: <%= comboRecord.losses %></li>
        <li>Avg: <%= comboRecord.avgScore %></li>
        <li>High Score: <%= comboRecord.highScore %></li>
        <li>Low Score: <%= comboRecord.lowScore %></li>
    </ul>
    <% if (comboRecord.gamesPlayed.length != 1) { %>
        <h4><%= comboRecord.gamesPlayed.length %> games played with this combo.</h4>
    <% } else { %>
        <h4><%= comboRecord.gamesPlayed.length %> game played with this combo.</h4>
    <% } %>
<% } else { %>
    <h4>0 games played with this combo.</h4>
<% } %>

<% if (comboRecord) { %>
    <ul>
        <% for (let game of comboRecord.gamesPlayed) { %>
            <% if (game.win) { %>
                <li>Win with <%= game.score %> points!</li>
            <% } else { %>
                <li>Loss with <%= game.score %> points.</li>
            <% } %>

            <% if (currentUser && comboRecord.user.equals(currentUser._id)) { %>
            <a href="/games/<%= game.id %>/edit"><button>Edit These Results</button></a>
            <form action="/combos/<%= comboRecord.id %>/games/<%= game.id %>?_method=DELETE" method="POST">
                <button>Delete these results</button>
            </form>
            <% } %>

            <br>
        <% } %>
    </ul>
<% } %>

<form action="/combos/<%= combo.id %>/games", method="POST">
    <div>
        <label for="score">Enter final score</label>
        <input required name="result[score]" id="score" type="number">
    </div>
    <button>Enter New Score</button>
</form>




